.card-title {
  font-size: 2em;
  font-weight: normal;
  color: grey;
}

.img-container {
  text-align: center;
}

.card {
  border-radius: 6px;
  box-shadow: 0px 10px 50px -5px lightgrey;
  padding: 24px;
}

.child-container {
  margin: 10px 0px;
}

.list {
  border-top: 2px solid lightgrey;
}

.litems {
  /* border-top: 1px solid lightgrey; */
  border-bottom: 1px solid lightgrey;
  padding: 8px 0;
}

.litem * {
  margin: 0 5px;
}

.litem {
  display: flex;
  cursor: pointer;
  padding: 4px;
  align-items: center;
}

.litem input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  display: inline-block;
  height: 1em;
  width: 1em;
  border-radius: 4px;
  border: 1px solid lightgray;
}

.litem input:checked ~ .checkmark {
  background-color: #23b2e7;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.litem input:checked ~ .checkmark:after {
  display: block;
}

.litem .checkmark:after {
  position: relative;
  left: 4px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.button {
  background-color: #23b2e7;
  text-align: center;
  padding: 10px;
  color: white;
  border-radius: 4px;
}

.button:active {
  background-color: red;
}

.button:hover {
  cursor: pointer;
}
