.clock {
  margin: 0;
  padding: 0 0 50px;
  font-size: large;
  font-weight: bold;
}

.tugas-10-wrapper {
  padding: 0 30%;
  margin: 120px 0;
  display: grid;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .tugas-10-wrapper {
    padding: 0px 0px;
    width: 100%;
    min-width: 0px;
  }
}
