* {
  margin: 0;
  padding: 0;

}

.wrapper {
  padding: 0 30%;
  margin: 120px 0;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 480px){
  .wrapper {
    padding: 0px 0px;
    width: 100%;
    min-width: 0px;
  }
}

.card-title {
  font-size: 2em;
  font-weight: normal;
  color: grey
}

.img-container {
  text-align: center;
}
