.tugas-15-wrapper {
  padding: 0 240px;
  margin: 50px 0 0;
  display: grid;
  transition: padding 250ms ease;
}

.tugas-15-wrapper > * {
  margin: 20px 0px;
}

@media screen and (max-width: 720px) {
  .tugas-15-wrapper {
    padding: 0px 0px;
  }
}

.btn-tambah-mhs {
  background-color: #6988e7;
  border-color: antiquewhite;
  float: right;
  color: white;
  cursor: pointer;
}

.btn-back-form {
  background-color: #6988e7;
  border-color: antiquewhite;
  color: white;
  cursor: pointer;
}

.btn-chg-theme {
  margin: 0px 30%;
  cursor: pointer;
  border-color: antiquewhite;
}
