.tugas-11-wrapper {
  padding: 0 240px;
  margin: 100px 0 0;
  display: grid;
  transition: padding 250ms ease;
}

.tugas-11-wrapper > * {
  margin: 20px 0px;
}

@media screen and (max-width: 720px) {
  .tugas-11-wrapper {
    padding: 0px 0px;
  }
}

.bTable .bTable-title {
  text-align: center;
}

.bTable h1 {
  padding: 0 0 10px;
}

.bTable table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 4px;
}

.bTable th {
  background-color: royalblue;
  color: white;
  padding: 10px 0px;
}

.bTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.bTable tr:nth-child(odd) {
  background-color: white;
}

.bTable td {
  padding: 6px 0px;
  text-align: center;
}

.bTable button {
  padding: 4px 12px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  border-color: antiquewhite;
}

.bForm .bForm-title {
  text-align: center;
}

.bForm h1 {
  padding: 0 0 10px;
}

.bForm form {
  border: 1px solid black;
  overflow: auto;
  padding: 10px 20px;
  border-radius: 4px;
}

.bForm form > * {
  margin: 10px 0px;
}

.bForm label {
  display: block;
}

.bForm input {
  float: right;
  padding: 2px 6px;
  border-radius: 4px;
}

.bForm-submit {
  float: right;
  cursor: pointer;
  color: white;
  border-color: antiquewhite;
  background-color: royalblue;
  padding: 8px 20px;
  border-radius: 6px;
  font-weight: bold;
}
