.button {
  background-color: #23b2e7;
  text-align: center;
  padding: 10px;
  color: white;
  border-radius: 4px;
}

.button:active {
  background-color: red;
}

.button:hover {
  cursor: pointer;
}